---
---
$font-stack:    Arial, Helvetica, sans-serif;
$background-color: #FFF;
$text-color: #000;
$primary-highlight-color: #808080;
$secondary-highlight-color: #F60;
$tiny-text: 70%;

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $background-color;
}

#footer {
  text-align: center;
  font-size: $tiny-text;
}
