---
---
$font-stack:    Arial, Helvetica, sans-serif;
$background-color: #FFF;
$text-color: #000;
$primary-highlight-color: #808080;
$secondary-highlight-color: #F60;
$title-text: 120%;
$tiny-text: 70%;
$post-width: 80%;

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: $secondary-highlight-color;
  color: #FFF;
}

a {
  color: $text-color;
  text-decoration: none;
}

a:hover {
  color: $secondary-highlight-color;
}

.small-post {
  width: $post-width;
  margin: 1em auto;
  border: solid 1px $secondary-highlight-color;
  border-radius: .25em;
  padding: 0 1em;
}

footer {
  text-align: center;
  font-size: $tiny-text;
}
