<!DOCTYPE HTML>
<html>
  <head>
    <title>
      {{ site.title }}{%if page.title %} - {{ page.title }}{% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      {% include normalize.min.css %}
    </style>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
  <div class="body-container">
    <header>
      <h1>{{ site.title }}</h1>
    </header>
    <main>
      <div class="main-container">
