$font-stack:    Arial, Helvetica, sans-serif;
$background-color: #FFF;
$header-text-color: #FFF;
$text-color: #000;
$primary-highlight-color: #808080;
$secondary-highlight-color: #F60;
$title-text: 120%;
$tiny-text: 70%;
$post-width: 80%;

@mixin display-flex() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($flex-direction) {
  -ms-flex-direction: $flex-direction;
  -webkit-flex-direction: $flex-direction;
  flex-direction: $flex-direction;
}

@mixin flex-wrap($flex-wrap) {
  -webkit-flex-wrap: $flex-wrap;
  flex-wrap: $flex-wrap;
}

@mixin flex($flex-value) {
  -ms-flex: $flex-value 1 0.000000001px;
  -webkit-flex: $flex-value;
  flex: $flex-value;
}

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
}

.flex-column {
  @include display-flex();
  @include flex-direction(column);
}

.flex-column-units {
  @extend .flex-column;
  @include flex(1);
}

.body-container {
  @extend .flex-column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-link {
  padding: 0 .25em;
  border-width: 1px;
  border-style: solid;
  border-radius: .5em;
}

header {
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  justify-content: center;
  background-color: $secondary-highlight-color;
  color: $header-text-color;

  h1 {
    margin: .25em 0;
  }

  a {
    @extend .button-link;
    border-color: white;
    color: $header-text-color;
    text-decoration: none;
  }

  a:hover {
    background-color: white;
    color: $secondary-highlight-color;
  }
}

nav {
  display: block;
  width: 100%;

  ul {
    @include display-flex;
    justify-content: center;
    margin: 0 0 .25em 0;
    padding: 0;

    li {
      display: block;
      margin: 0 1em;
    }
  }
}

main {
  @extend .flex-column-units;
  position: relative;
}

.main-container {
  @extend main;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  a {
    @extend .button-link;
    border-color: $secondary-highlight-color;
    color: $text-color;
    text-decoration: none;
  }

  a:hover {
    color: white;
    background-color: $secondary-highlight-color;
  }
}

.small-post {
  width: $post-width;
  margin: 1em auto;
  border: solid 1px $secondary-highlight-color;
  border-radius: .25em;
  padding: 0 1em;

  h2 a {
    padding: initial;
    border-width: 0;
    border-style: none;
    border-radius: 0;
    color: $text-color;
    text-decoration: none;
  }

  h2 a:hover {
    color: $secondary-highlight-color;
    background-color: initial;
  }
}

.drop-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

footer {
  padding: .25em 0;
  text-align: center;
  font-size: $tiny-text;
}
